<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378331562910-klu1cg22c30h8p3gegg8dulnmsgm02pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378331562910-klu1cg22c30h8p3gegg8dulnmsgm02pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378331562910-mo6taj117bgdpn8mjbq1clsc2cur65jj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATmfSGRxSes-bqNeQb9samjNJeCR4NqRc</string>
	<key>GCM_SENDER_ID</key>
	<string>378331562910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sjsu.CMPEliu.SwiftUItest</string>
	<key>PROJECT_ID</key>
	<string>cmpe277firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cmpe277firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378331562910:ios:ea0fdd26b84f52e8e04c8f</string>
	<key>DATABASE_URL</key>
	<string>https://cmpe277firebase.firebaseio.com</string>
</dict>
</plist>